# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.db
*.user
Lecture_OOP/.vs/Lecture_OOP/v15/Browse.VC.opendb
Lecture_OOP/Lecture_OOP/Debug/Lecture_OOP.tlog/CL.read.1.tlog
Lecture_OOP/Lecture_OOP/Debug/Lecture_OOP.tlog/Lecture_OOP.lastbuildstate
Lecture_OOP/.vs/Lecture_OOP/v15/ipch/AutoPCH/27a4bf80d47563a8/LECTURE_OOP.ipch
Lecture_OOP/.vs/Lecture_OOP/v15/ipch/AutoPCH/27a4bf80d47563a8/LECTURE_OOP.ipch
*.log
*.tlog
